@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#020617] text-cyan-400 font-sans overflow-x-hidden;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-[#00111a];
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#004455] rounded-full;
  }
}